body {
  position: relative;
  width: 100%;
}

* {
  font-family: Unbounded;
  margin: 0;
  padding: 0;
  opacity: 1;
  transition: all 0.2s;
  text-align: center;
}

a {
  text-decoration: none;
  color: transparent;
}

header {
  display: flex;
  height: 80px;
  background-color: #ede1a1;
  top: 0;
  left: 0;
  position: sticky;
  right: 0;
  align-items: center;
  margin: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 100;
}

.title {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h1 {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #b666d2, #b3a1ed);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.links {
  width: 100%;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

ul li {
  list-style-type: none;
}

.underline {
  text-decoration: none;
  position: relative;
  margin-bottom: 20px;
  color: #b666d2;
  cursor: pointer;
}

.underline::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: 0.3s;

}

.underline:hover::before {
  width: 100%;
}

.underline:active {
  color: white;
}

.about {
  margin-right: 40px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 150px;
}

#more-content {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.left-section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 500px;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.right-section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 500px;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.text-info {
  font-size: 22px;
}


#picture {
  height: 80%;
  border-radius: 500px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  transition: all 0.2s;
  transition: opacity 0.5s ease;
  opacity: 1;
}

#picture:active {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
  height: 70%;
}

#picture:active>.first-info {
  display: flex;
}

.profile-name {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  bottom: 0px;
}

.infos {
  display: flex;
}

#first-info,
#second-info,
#troisieme-info,
#quatrieme-info,
#cinquieme-info,
#sixieme-info,
#septieme-info,
#huitieme-info {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 20%;
  bottom: 20%;
  left: 40px;
  right: 40px;
  z-index: 200;
  background-color: white;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.377);
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  display: none;
  opacity: 1;
}

.name {
  margin-top: 20px;
  font-weight: bold;
}

.name-description {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.info-opacity-1 {
  opacity: 1;
  display: flex;
}

.youtube-frame {
  z-index: 100;
  margin-top: 20px;
  border-radius: 10px;
  max-width: 560px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
}

.cross {
  position: absolute;
  top: 20px;
  right: 20px;
}

.cross img {
  width: 30px;
  cursor: pointer;
}

.bottom-header {
  height: 100px;
  position: absolute;
  bottom: 0px;
  right: 0;
  left: 0;
  background-color: #ede1a1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:800px) {
  * {
    font-size: auto;
  }

  .title {
    font-size: 12px;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .left-section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 300px;
    flex-direction: column;
    position: relative;
    z-index: 1;
  }

  .right-section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 300px;
    flex-direction: column;
    position: relative;
    z-index: 1;
  }

  .profile-name {
    font-size: 15px;
  }

  #padding-text {
    margin-top: 80px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width:1600px) {
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
